body{
    margin: 0;
    padding: 10px;
    min-width: 400px;
}
input{
    border: 1px solid green;
    width: 100%;
    box-sizing: border-box;

    padding: 10px;
}
button{
    border: none;
    margin-top: 5px;
    background-color: green;
    color: white;
    width: 120px;
    padding: 10px 20px;
    font-weight: bold;
}
#delete-btn{
    border: 1px solid green;
    background-color: white;
    color: green;
    width: 150px;
}
ul{
    list-style: none;
    margin-top: 20px;
    padding-left: 0px;
}
li{
    margin-top: 5px;
}
a{
    color: green;
    
}